DB_USER=root
DB_HOST=localhost:3306
DB_PASSWORD=root
DB_NAME=task
DB_DIALECT=mysql
DATABASE_CONNECTION_URL=mysql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}/${DB_NAME}

# Server Configuration
PORT=5000


# Azure Email Service Configuration
AZURE_CONNECTION_STRING=endpoint=https://todo.unitedstates.communication.azure.com/;accesskey=YOUR_ACCESS_KEY_HERE

# SMTP Configuration (if you're using Amazon SES)
AMAZON_SMTP_HOST=email-smtp.eu-north-1.amazonaws.com
AMAZON_SMTP_PORT=587
AMAZON_SMTP_USER=YOUR_SMTP_USER_HERE
AMAZON_SMTP_PASS=YOUR_SMTP_PASSWORD_HERE

# Email Configuration
EMAIL_FROM=DoNotReply@98b6a4a9-9d6c-4126-808a-871bb3381d6a.cloudtechnosoftsolutions.in
EMAIL_DOMAIN=cloudtechnosoftsolutions.in
EMAIL_SERVICE=azure # Options: amazon, azure
